@import "~materialize-css";

input.text-field {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.text-field + label,
input.text-field {
  color: #fff !important;
}
input.text-field:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.link {
  margin: 0 !important;
}
